---
import { Image } from "astro:assets";
import Container from "@components/Container.astro";
import PageLayout from "@components/PageLayout.astro";

import profileImage from '../img/testsheep.jpeg';

import { Icon } from 'astro-icon/components'
---

<PageLayout title="vinit - about"> 
    <h2 class="animate">
      about
    </h2>
    <div class="content space-y-16">
      <div class="flex flex-col-reverse sm:flex-row sm:space-x-8">
        <div class="w-full sm:w-3/4">
          <div>
            <p class="animate">
              I am an interdisciplinary researcher, writer and editor based between Copenhagen and Berlin, presently employed as a postdoctoral researcher at the <a href="https://sodas.ku.dk/" aria-label="SODAS">Copenhagen Center for Social Data Science</a>. My research focuses on the transformations in society spurred on by the development and deployment of artificial intelligence.
            </p> 
            <br>
            <p class="animate">
              I am particularly interested in two aspects of this transformation: in the sociological implications of the widespread adoption of generative AI, and in analysis and critique of the broader political economy of generative AI, and the role it plays in (techno-)capitalism. My PhD dissertation focused on leveraging technical critiques of "multilinguality" in language models, through a perspective of linguistic theory and model interpretability.
            </p>
            <br>
            <p class="animate">
              I serve on the editorial board for <a href="https://theleftberlin.com" aria-label="The Left Berlin">The Left Berlin</a>, and the recently launched <a href="https://disjunctionsmag.com" aria-label="Disjunctions Magazine">Disjunctions Magazine</a>.
            </p>
          </div>
        </div>
        <div class="w-full sm:w-1/4 flex flex-col items-center animate mb-8 sm:mb-0 ">
          <Image src={profileImage} class="w-64 h-auto" alt="vinit"/>

          <div class="flex space-x-3 mt-6">
            <a class="transition" target="_blank" rel="noopener noreferrer" href="mailto:vinit94@proton.me">
              <span class="sr-only">mail</span>
              <Icon name="mail"/> 
            </a>
            <a class="transition" target="_blank" rel="noopener noreferrer" href="https://bsky.app/profile/vinbo8.bsky.social">
              <span class="sr-only">bluesky</span>
              <Icon name="bluesky"/> 
            </a>
            <a class="transition" target="_blank" rel="noopener noreferrer" href="https://scholar.google.com/citations?user=uDWeVG0AAAAJ">
              <span class="sr-only">scholar</span>
              <Icon name="scholar"/> 
            </a>
            <a class="transition" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/vinbo8__/">
              <span class="sr-only">instagram</span>
              <Icon name="instagram"/> 
            </a>
          </div>

        </div>
      </div>
      <!-- <ul class="flex flex-wrap gap-2">
        {SOCIALS.map(SOCIAL => (
          <li class="flex gap-x-2 text-nowrap">
            <a href={SOCIAL.HREF} aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
              {SOCIAL.NAME}
            </a>
            {"/"}
          </li>
        ))}
        <li class="line-clamp-1">
          <a href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`}>
            {SITE.EMAIL}
          </a>
        </li>
      </ul> -->
    </div>
</PageLayout>
