---
import { Image } from "astro:assets";
import Container from "@components/Container.astro";
import PageLayout from "@components/PageLayout.astro";

import profileImage from '../img/testsheep.jpeg';

import { Icon } from 'astro-icon/components'
---

<PageLayout title="vinit - about"> 
  <Container>
    <h2 class="animate">
      about
    </h2>
    <div class="content space-y-16">
      <div class="flex flex-col-reverse sm:flex-row sm:space-x-8">
        <div class="w-full sm:w-3/4">
          <div>
            <p class="animate">
              I am an interdisciplinary researcher, writer and editor based in Berlin. My research is focused on analysing the transformations in society spurred on by the development and deployment of artificial intelligence. I also serve on the editorial board for <a href="https://theleftberlin.com" aria-label="The Left Berlin"><i>The Left Berlin</i></a>, and the recently launched <a href="https://disjunctionsmag.com" aria-label="Disjunctions Magazine"><i>Disjunctions Magazine</i></a>.
            </p>
            <br>
            <p class="animate">
              My current research program centers on analysis and critique of the broader political economy of generative artificial intelligence. My PhD dissertation — written at the University of Oslo — focused on leveraging technical critiques of "multilinguality" in language models, through a perspective of linguistic theory and model interpretability.
            </p>
            <br>
            <p class="animate">
              Beyond academia, I am a member of the Copenhagen-based <a href="https://instagram.com/beforeforgetting"><i>Before Forgetting</i></a> cinema collective. I am also a musician, and design audio for live environments, score films, and volunteer as a sound engineer.
            </p>
          </div>
        </div>
        <div class="w-full sm:w-1/4 flex flex-col items-center animate mb-8 sm:mb-0 ">
          <Image src={profileImage} class="w-64 h-auto rounded-full" alt="vinit"/>

          <div class="flex space-x-3 mt-6">
            <a class="transition" target="_blank" rel="noopener noreferrer" href="mailto:vinit94@proton.me">
              <span class="sr-only">mail</span>
              <Icon name="mail"/> 
            </a>
            <a class="transition" target="_blank" rel="noopener noreferrer" href="https://bsky.app/profile/vinbo8.bsky.social">
              <span class="sr-only">bluesky</span>
              <Icon name="bluesky"/> 
            </a>
            <a class="transition" target="_blank" rel="noopener noreferrer" href="https://scholar.google.com/citations?user=uDWeVG0AAAAJ">
              <span class="sr-only">scholar</span>
              <Icon name="scholar"/> 
            </a>
            <a class="transition" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/vinbo8__/">
              <span class="sr-only">instagram</span>
              <Icon name="instagram"/> 
            </a>
          </div>

        </div>
      </div>
      <!-- <ul class="flex flex-wrap gap-2">
        {SOCIALS.map(SOCIAL => (
          <li class="flex gap-x-2 text-nowrap">
            <a href={SOCIAL.HREF} aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
              {SOCIAL.NAME}
            </a>
            {"/"}
          </li>
        ))}
        <li class="line-clamp-1">
          <a href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`}>
            {SITE.EMAIL}
          </a>
        </li>
      </ul> -->
    </div>
  </Container>
</PageLayout>
