---
// @ts-nocheck
import { parse, format } from "date-fns";
const { confs, section } = Astro.props;

function formatDateRange(from: Date, to: Date) {
  const sameYear = from.getFullYear() === to.getFullYear();
  const sameMonth = from.getMonth() === to.getMonth();
  const sameDay = from.getDate() === to.getDate();

//   if (sameYear && sameMonth && sameDay) {
//     return `${format(from, 'd MMMM, yyyy')}`;
//   } else if (sameYear && sameMonth) {
//     return `${format(from, 'd')}–${format(to, 'd MMMM, yyyy')}`;
//   } else if (sameYear) {
//     return `${format(from, 'd MMMM')} – ${format(to, 'd MMMM, yyyy')}`;
//   } else {
//     return `${format(from, 'd MMMM, yyyy')} – ${format(to, 'd MMMM, yyyy')}`;
//   }
// }

  if (sameYear && sameMonth && sameDay) {
    return `${format(from, 'd.M.yy')}`;
  } else {
    return `${format(from, 'd.M.yy')} – ${format(to, 'd.M.yy')}`;
  }
}

let parsedconfs = confs.map(conf => {
  const from = parse(conf.from, 'dd.MM.yyyy', new Date());
  const to = parse(conf.to, 'dd.MM.yyyy', new Date());
  return {
    ...conf,
    from: from,
    to: to,
    dateString: formatDateRange(from, to)
  }
})

parsedconfs.sort((a, b) => {
  return Math.abs(a.to - b.to); 
})

const now = new Date();

const pastconfs = parsedconfs.filter(conf => {
  return conf.to <= now
});

const futureconfs = parsedconfs.filter(conf => {
  return conf.to > now
});

---

<div class="content">
  <h2 class="animate">
    {section}
  </h2>

  <!-- <h4 class="animate">
    upcoming
  </h4> -->
  <div class="animate">
    <ul>
    {
      futureconfs.map(c => (
        <li class="entry">
          <span>"{c.title}"</span>
          <div class="flex justify-between"><span class="text-sm">{c.conf}. {c.location}</span><span class="text-right text-sm">{c.dateString}</span></div>
        </li>
      ))
    }
    </ul>
    <ul>
    {
      pastconfs.map(c => (
        <li class="entry outdated">
          <span class="leading-none">"{c.title}"</span>
          <div class="flex justify-between"><span class="leading-none text-sm">{c.conf}. {c.location}</span><span class="text-right text-sm leading-none">{c.dateString}</span></div>
        </li>
      ))
    }
    </ul>
  </div>
</div>