---

import { parse, format } from "date-fns";

const { media } = Astro.props;

let parsed = media.map(m => {
  const date = parse(m.date, "dd.MM.yyyy", new Date());
  return {
    ...m,
    dateString: format(date, "MMMM y")
  }
})
---
<div class="content">
    <h2 class="animate">
    media
    </h2>
    <!-- <div class="animate mb-6"> -->
    <!-- </div> -->
    <div class="animate">
    <ul>
    {
        // @ts-ignore
        parsed.map(m => {
          return <li class="entry">  
              <div>
                <a href={m.url}><b>"{m.title}"</b></a>, <i>{m.publication}</i>, {m.dateString} 
                {m.translations !== undefined && 
                  <>
                  [translated: {m.translations.map((tr, i) => (
                    <>
                    <a href={tr.url} class="trans"><b>{tr.lang}</b></a>{i < m.translations.length - 1 && ', '}
                    </>
                   ))}]
                  </>
                }
              </div>
          </li>
        })
    }
    </ul>
    </div>
</div>